.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.plugins/org.eclipse.core.resources/.history/1/7036c8d97a29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/11/10fe3b937c29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/16/10ac51617c29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/1c/3016981c2027001e18f5c51babfb4a4a
.metadata/.plugins/org.eclipse.core.resources/.history/1c/a0df707e1f27001e18f5c51babfb4a4a
.metadata/.plugins/org.eclipse.core.resources/.history/24/1054da997c29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/26/d0b30cf07929001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/2a/908155a98029001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/2f/c09a49887d29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/31/10340a7f7d29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/40/408014047c29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/4e/80e0b7282027001e18f5c51babfb4a4a
.metadata/.plugins/org.eclipse.core.resources/.history/51/a02fef527a29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/5f/502b0c6a7c29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/63/e06507b31f27001e18f5c51babfb4a4a
.metadata/.plugins/org.eclipse.core.resources/.history/66/d0bd3cb37c29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/6b/10ab15a77d29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/76/70156aee7b29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/77/3061137f1f27001e18f5c51babfb4a4a
.metadata/.plugins/org.eclipse.core.resources/.history/78/005b17517d29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/9b/60537c3f7c29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/aa/0011fa497d29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/ae/c037cda67a29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/c8/00a0c2c51f27001e18f5c51babfb4a4a
.metadata/.plugins/org.eclipse.core.resources/.history/ca/60d375067d29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/d0/e0a4cbae7829001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/d0/e0cc840d7a29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/d4/10d75e578029001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/da/20ee46ab7c29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/de/70d6d1e67829001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/ee/203ca3de7b29001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/ee/504cb4ae7829001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.history/f1/0029d5981f27001e18f5c51babfb4a4a
.metadata/.plugins/org.eclipse.core.resources/.history/f9/6003f1708029001e101ab21f7a2f0ac8
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/CursoJava/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/CursoJava/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CursoJava/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CursoJava/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CursoJava/.indexes/e4/e4/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CursoJava/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/CursoJava/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/helloworld/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/helloworld/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/helloworld/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/helloworld/.indexes/e4/0/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/helloworld/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Calculadora_Area.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Calculadora_Promedio.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Conversor_medidas.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Conversor_monedas.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Holamundo.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/1295800348.index
.metadata/.plugins/org.eclipse.jdt.core/1544546137.index
.metadata/.plugins/org.eclipse.jdt.core/1686274598.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/
